
/* ESTILOS NORMALES (para móviles en vertical) */


/*
Estilo pagina principal comunes
*/

*{
	margin: 0;
	padding: 0;
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
}
body{
	overflow-y:hidden;
	overflow-x:hidden;
	background-color: #334ABC;
}
main{
	text-align: center;
}
/*Espacio para superponer el menu*/
main>div{
	padding-top: 50px;
}
h1{
	font-size: 25px;
	color: #404BA0;
	text-shadow: 1px 1px 20px black;
	font-family: 'Exo', sans-serif;
}
h2{
	font-size: 22px;
	color: #404BA0;
	margin: 2px 5px;
	text-shadow: 1px 1px 20px black;
	font-family: 'Orbitron', sans-serif;
}
h3{
	font-size: 21px;
	text-shadow: 1px 1px 20px black;
	font-family: 'Orbitron', sans-serif;
	margin-bottom:10px;
	margin-top:-20px;
}
h4{
	font-size: 20px;
	text-shadow: 1px 1px 20px black;
	font-family: 'Orbitron', sans-serif;
	color: #1D88A7;
	margin-bottom:5px;
}

main .ancla>img{
	vertical-align: sub;
	box-shadow: 1px 2px 1px black;
	border-radius: 50%;
	width: 50px;
}
main .ancla>img:hover{
	box-shadow: 1px 2px 10px black;

}

#sobremi h3,#contacto h3{
	color: #1B9FC6;
}
#inicio h3,#mistrabajos h3{
	color: #bfc2e6;
}
#inicio,#mistrabajos{
	background: url('../images/fondo1.jpg') center center fixed;
	background-repeat: repeat-y;
	background-size: cover;
	position: relative;
}
#sobremi,#contacto{
	position: relative;
	background: url('../images/fondo2.jpg') center center fixed;
	background-repeat: repeat-y;
	background-size: cover;
}

/*Menu hamburguesa*/
#menu{
	height: 45px;
	width: 45px;
	z-index: 999;
}
.oculto{
	z-index: 999;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
}
/*Elementos internos del menu*/
header ul{
	z-index: 999;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
}

nav > a {
	list-style: none;
	overflow: hidden;
	background: rgba(41,54,158,0.8);
	width: 50px;
	border-radius: 5px 0 0 5px;
	height: 50px;
	box-shadow: 0px 0px 15px black;

}

nav a > img{
	vertical-align: text-bottom;
	padding-right: 10px;
	width: 30px;
	height: 30px;
}
/*La imagen de mis trabajos hay que moverla
para que se quede alineada a las demás*/
#correccion{
	margin-bottom: -2px;
}

nav ul {
	border-radius: 5px 0 0 5px;
	box-shadow: 0px 0px 15px black;
	list-style: none;
	overflow: hidden;
	background: rgba(41,54,158,0.8);
	width: 190px;

}
nav ul li {
	font-size: 16px;
}

nav ul li a {
	text-align: right;
	display: block;
	padding: 18px;
	color: #fff;
	text-decoration: none;

}
nav ul li:hover {
	box-shadow: 1px 1px 20px black;
	background: rgba(41,54,158,1);
}
/*Cajas internas*/
.izda,.drcha{
	margin:1px 0;
	padding: 0;
	box-shadow: 1px 1px 20px black;
	border: 1px solid rgba(0,0,0,0.6);
	width: 100%;
	max-width: 520px;
}
.centro{
	position: absolute;
	bottom: 10.5%;
}

.made{
	color:#6C6969;
	position: absolute;
	bottom: 21%;
	padding:5px 0;
	left: 0.1%;
	right: 0.1%;
	margin: 0 20px;
}
.made a{
	text-decoration:none;
	color: #2D2C2C;
}
/*
Inicio
*/
#inicio > img{
	width: 90%;
	max-width: 400px;
	border-radius: 4px;
	margin-top: 10%;
	box-shadow: 0px 0px 40px black;
}

/*
Sobre mi
*/
.pro{
	position: relative;
	width: 38%;
	height: 38%;
	display: inline-block;
	top: -8px;
}
.pro svg{
	width: 90%;
	height: inherit;
	max-height: 48px;
}
.pro span{
	position: absolute;
	font-size: 1em;
	left: 1%;
	right: 1%;
	top: 1.2%;
	bottom:1%;
}
.apt{
	margin-top: 1%;
	width: 30%;
	display: inline-block;
}
#sobremi{
	display: flex;
	flex-direction: column;
}
#sobremi h3{
	order: 1;
	width: 100%;
}

#sobremi .izda{
	order: 3;
	width: 100%;
	margin:0 auto;
	background-color: rgba(255,255,255,0.15);
}
#sobremi .izda div{
	width: 50%;
	float: left;
}
#sobremi .izda span{
	float: left;
	text-align: left;
	vertical-align: middle;
	overflow-y: auto;
	max-height:inherit;
	vertical-align: -webkit-baseline-middle;
	font-size: 18px;
	font-weight: 600;
}
#sobremi span > img{
	width: 25px;
	vertical-align: text-top;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 1px;
}
#sobremi .drcha{
	order: 2;
	width: 100%;
	margin:0 auto;
	margin-bottom: 3%;
	background-color: rgba(255,255,255,0.15);
}

#sobremi .drcha img{
	width: 37%;
	max-width: 45px;
	margin:5px;
}

#sobremi div > img{
	width: 50%;
}

/*
Mis trabajos
*/
#mistrabajos .izda,#mistrabajos .drcha{
	width: 48%;
	max-width: 300px;
	position: relative;
	display: inline-block;
	background-size: cover;
}
#mistrabajos .izda a, #mistrabajos .drcha a{
	text-decoration:none;
	background-color: rgba(0,0,0,0.6);
	bottom: 0;
	padding-bottom: 5px;
	font-size: 1.4em;
	color: white;
	width: 100%;
	height: 60px;
	left: 0;
	position: absolute;
}

#rural{
	background:url('../images/rural.jpg') no-repeat;
}
#aceituna{
	background:url('../images/aceituna.jpg') no-repeat;
}
#hermandad{
	background:url('../images/hermandad.jpg') no-repeat;
}
#sabio{
	background:url('../images/sabio.jpg') no-repeat;
}
#tareas{
	background:url('../images/tarea.jpg') no-repeat;
}
#salvador{
	background:url('../images/salvador.jpg') no-repeat;
}
/*
Contacto
*/
#contacto span>a> img{
	width: 12%;
	margin:10px 30px;
}
.centro2{
	margin-top: 10%;
}

/* ESTILOS RESPONSIVE */
@media (min-width: 768px) {
	*{
		font-size: 18px;
	}
	/*Estilos principales*/
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 29px;
	}
	h4{
		font-size: 26px;
		margin-bottom:15px;
	}
	main .ancla>img{
		width: 80px;
	}
	/*Menu hamburguesa*/
	#menu{
		height: 65px;
		width: 65px;
	}
	.oculto{
		width: 65px;
		height: 65px;
	}
	/*Cajas internas*/
	.izda,.drcha{
		display: inline-block;
		border: 1px solid black;
		width: 80%;
		min-width: 500px;
	}
	.centro{
		bottom: 10%;
	}

	#inicio>img{
		max-width: 500px;
	}
	/*Sobre mi*/
	#sobremi{
		display: block;
	}
	#sobremi .izda,#sobremi .drcha{
		width: 49.5%;
		margin:5px;
	}
	#sobremi .drcha img{
		max-width: auto!important;
	}
	#sobremi .izda span{
		font-size: 22px;
	}
	.pro span {
		font-size: 18px;
	}
	.apt{
		margin-top: 5%;
	}
	/*Mis trabajos*/
	#mistrabajos .izda,#mistrabajos .drcha{
		width: 35%;
		margin: 5px 20px;
		min-width: 43%;
	}
	/*Contacto*/
	.made{
		left:50px;
		right: 50px;
		bottom: 25%;
	}
	.centro>p{
		margin-bottom: 5%;
	}
	.centro2{
		width: 80%;
		margin: 50px auto;
	}
	#contacto span>a> img{
		margin:25px 35px;
	}
}

/* ESTILOS RESPONSIVE para Tablets en horizonal y escritorios normales */

@media (min-width: 1024px) {
	    /*
	Estilo pagina principal
	*/
	/*Desplazamiento de elementos para
	no superponerlos en el menu*/
	main>div{
		padding-top: 90px;
	}
	a img{
		width: 4%;
	}
	main .ancla>img{
		width: 8%;
		max-width: 55px;
		margin-bottom: 25px;
	}
	h4{
		margin-top:10px;
		margin-bottom:20px;
	}
	h3{
		margin-bottom: 15px;
	}
	.centro{
		z-index: 50;
	}
	/*Menu*/
	header {
		background: rgba(51,74,188,0.8);
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.oculto{
		display: none;
	}
	header ul{
		display: block;
	}
	nav {
		float: right;
	}

	nav ul {
		width: 105%;
		list-style: none;
		text-align: right;
		overflow: hidden;
	}

	nav ul li {
		font-size: 16px;
		display: inline-block;
	}

	nav ul li a {
		display: block;
		padding: 18px;
		color: #fff;
		text-decoration: none;
	}

	nav ul li:hover {
		background: rgba(41,54,158,0.9);
	}

	/*Inicio*/
	#inicio > img{
		width: 45%;
		margin-top:20px;
	}
	/*Sobre mi*/
	#sobremi .izda,#sobremi .drcha{
		width: 48.5%;
		max-width: 48.5%;
		min-width: auto;
		margin:10px 5px;
	}
	#sobremi .izda{
		float: left;
	}
	#sobremi .drcha{
		float: right;
	}
	#sobremi div > img{
		width: 20%;
	}
	.apt{
		min-width: 25%;
		width: 28%;
		max-width: 192px;
		margin:5px 10px;
	}
	/*Mis trabajos*/
	#mistrabajos .izda a, #mistrabajos .drcha a {
		font-size: 1.8em;
		z-index: 60;
	}
	#mistrabajos .izda{
		margin-right: 3%;
	}
	#mistrabajos .drcha {
		margin-left: 3%;
	}
	#mistrabajos .izda, #mistrabajos .drcha {
		width: 40%;
		z-index: 55;
		min-width: 40%;
	}

	/*Contacto*/
	.made{
		bottom: 21%;
	}
	#contacto span>a> img{
		max-width:80px;
	}
}

/* ESTILOS RESPONSIVE para Escritorios muy anchos */

@media (min-width: 1200px) {
	/*Espacio para superponer el menu*/
	main>div{
		padding-top: 110px;
	}
	/*Estilos principales*/
	h4{
		font-size: 29px;
		margin-bottom:20px;
	}
	h3{
		font-size: 33px;
	}
	.centro {
		bottom: 12%;
	}
	/*flecha*/
	main .ancla>img {
		width: 4%;
		max-width: 55px;
	}
	/*Inicio*/
	#inicio > img{
		margin-top: 2%;
	}
	/*Sobre mi*/
	.apt{
		margin:10px;
	}
	#sobremi .izda div {
		width: 45%;
		margin-left: 25px;
	}
	#sobremi .drcha img{
		width: 40%;
		max-width: 55px;
	}
	.pro>span{
		top:17%;
	}
	.pro span{
		font-size: 20px;
	}
	.pro svg{
		max-height: 55px;
		}/*Mis trabajos*/
		#mistrabajos .izda, #mistrabajos .drcha{
			min-width: 35%;
		}
		/*Contacto*/
		.centro2{
			width: 50%;
		}
	}
